@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/cuprum.woff2"), url("../fonts/cuprum.woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/cuprumbold.woff2"), url("../fonts/cuprumbold.woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/cuprumbolditalic.woff2"), url("../fonts/cuprumbolditalic.woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/cuprumitalic.woff2"), url("../fonts/cuprumitalic.woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff2"), url("../fonts/ptsans.woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2"), url("../fonts/ptsansbold.woff");
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-navy: #293449;
  --basic-dark-blue: #32425C;
  --basic-gray: #F1F5F7;
  --special-gray-pink: #F9F5F0;
  --special-orange: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-light-green: #8ED78F;
  --special-light-orange: #FFC047;
  --special-extra-light-orange: #FFD180;
  --special-blue-gray: #F2F6F8;
  --special-filter-gray: #F7F3EC;
  --special-old-price-gray: #A9A9A9;
  --special-footer-adress-gray: #F3F7F9;
  --special-click-red: #BA2732;
  --special-focus-red: #CA2C37;
  --special-focus-green: #5FBB2D;
  --special-click-dark: #161D29;
  --special-click-gray: #C5C5C5;
  --special-click-navy: #1D2739;
  --special-click-green: #518534;
  --special-social-button: #212A3A;
  --special-border-gray: #EAEAEA;
  --special-filter-border: #E5E5E5;
  --special-range-scale: #D7DCDE;
  --special-modal-gray: #F4F4F4;
  --special-modal-bg: #F1F1F1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
}

body {
  min-width: 940px;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 46px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button-red {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.button-red:hover {
  background-color: var(--special-focus-red);
}

.button-red:active {
  background-color: var(--special-click-red);
}

.container {
  width: 940px;
  padding: 0 10px;
  box-sizing: content-box;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: var(--basic-navy);
}

.header__content {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 220px auto 450px;
  height: 42px;
}

.header__logo {
  background-color: var(--basic-red);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 47px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.header__logo:active {
  background-color: var(--special-click-red);
}

.header__search {
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 42px;
  position: relative;
}

.header__searchInput {
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 8px;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.header__searchIcon::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--basic-white);
}

.header__searchIcon {
  margin: 0 8px;
  opacity: 0.3;
  transition: opacity .3s ease;
}

.header__search:hover .header__searchIcon {
  opacity: 1;
}

.header__searchInput:focus + .header__searchIcon {
  opacity: 1;
}

.header__searchInput:focus + .header__searchIcon::before {
  z-index: 1;
}

.header__contentInput:focus::placeholder {
  color: var(--basic-black);
}

.header__searchInput::placeholder {
  color: var(--basic-white);
}

.header__buttons {
  width: 450px;
  display: flex;
}

.header__button {
  color: var(--basic-white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
}

.header__button:active {
  color: rgba(255, 255, 255, .5);
}

.header__button.header__button-order {
  width: 150px;
  background-color: var(--basic-green);
}

.header__button.header__button-order:hover,
.header__button.header__button-order:focus {
  background-color: var(--special-focus-green);
}

.header__button.header__button-order:active {
  background-color: var(--basic-green);
  color: rgba(255, 255, 255, 0.5);
}

.header__button.header__button-bookmark {
  position: relative;
  width: 170px;
}

.header__button.header__button-bookmark::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 20px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header__button.header__button-bookmark:hover::before,
.header__button.header__button-bookmark:focus::before,
.header__button.header__button-card:hover::before,
.header__button.header__button-card:focus::before {
  opacity: 1;
}

.header__button.header__button-bookmark:active,
.header__button.header__button-card:active {
  background-color: var(--special-click-dark);
  opacity: 0.3;
}

.header__button.header__button-card {
  position: relative;
  width: 136px;
}

.header__button.header__button-card::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 8px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header__button.header__button-cardFull {
  background-color: var(--basic-red);
}

.header__info {
  background-color: var(--special-footer-adress-gray);
  height: 278px;
}

.header__infoRow {
  height: 158px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__description {
  width: 300px;
}

.header__title {
  width: 220px;
  height: 70px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.header-contacts {
  width: 300px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__phone {
  padding: 10px 45px;
  border: 3px solid var(--basic-white);
  display: flex;
  align-items: center;
  position: relative;
}

.header__phoneLink {
  color: var(--basic-red);
  font-size: 21px;
  font-weight: 700;
  margin-left: 16px;
}

.header__address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-dark-blue);
  margin-top: 3px;
  margin-left: 10px;
  margin-bottom: 0;
}

.header__actions {
  display: flex;
  justify-content: flex-end;
}

.header__action {
  color: var(--basic-black);
  font-size: 21px;
  border: none;
  background-color: rgba(255, 255, 255, .9);
  cursor: pointer;
  padding: 12px 20px;
}

.header__action:hover {
  color: var(--basic-red);
}

.header__action:active {
  color: var(--special-click-gray);
}

.header__action-login {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.header__action-loginIcon {
  margin-right: 6px;
}

.header__action-register {
  width: 150px;
  height: 45px;
}

.header__user {
  display: flex;
  flex-direction: column;
}

.header__userInfo {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--basic-white);
}

.header__userName {
  margin: 0 20px;
  font-size: 21px;
  color: var(--basic-black);
}

.header__userLinks {
  margin-top: 7px;
  display: flex;
  justify-content: center;
}

.header__userLink {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-dark-blue);
}

.header__userLink:hover {
  color: var(--basic-red);
}

.header__userLink:active {
  color: var(--special-click-gray);
}

.header__userLink-profile {
  margin-left: 30px;
  position: relative;
}

.header__userLink-profile::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -15px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--basic-dark-blue);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header__navigation {
  background-color: var(--basic-dark-blue);
  border-bottom: 5px solid var(--basic-navy);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
}

.header__link {
  color: var(--basic-white);
  padding: 16px 29px;
}

.header__link:hover {
  background-color: var(--basic-navy);
}

.header__link:active {
  background-color: var(--special-click-navy);
  color: rgba(255, 255, 255, .5);
}

.promo {
  color: var(--basic-white);
  margin-top: 59px;
  margin-bottom: 59px;
  display: grid;
  grid-template-areas:
    "item-materials item-tools item-equipment"
    "item-drills item-drills item-discounts"
    "item-drills item-drills item-delivery";
  grid-gap: 20px;
}

.promo__title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 14px;
}

.promo__button {
  color: var(--basic-white);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, .3);
  padding: 10px 24px;
  text-align: center;
}

.promo__icon {
  margin: 10px 0;
}

.promo__button:hover {
  background-color: rgba(197, 197, 197, .3);
}

.promo__button:active {
  background-color: rgba(169, 169, 169, .3);
}

.promo__item {
  padding: 20px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.promo__item-new::before {
  content: "";
  width: 70px;
  height: 70px;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../img/new.png");
}

.promo__item-materials {
  grid-area: item-materials;
  background-color: var(--special-orange);
  position: relative;
}

.promo__item-tools {
  grid-area: item-tools;
  background-color: var(--special-blue);
  position: relative;
}

.promo__item-equipment {
  grid-area: item-equipment;
  background-color: var(--special-lilac);
  position: relative;
}

.promo__item-discounts {
  grid-area: item-discounts;
  background-color: var(--special-light-green);
  position: relative;
}

.promo__item-delivery {
  grid-area: item-delivery;
  background-color: var(--special-light-orange);
  position: relative;
}

.promo__item-drills {
  grid-area: item-drills;
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.promo__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 24px;
}

.promo__slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 104px;
  background: rgba(0, 0, 0, .25);
}

.promo__slide-1 {
  background-image: url("../img/worker-1.jpg");
}

.promo__slide-2 {
  background-image: url("../img/worker-2.jpg");
}

.promo__slideContent {
  position: relative;
  z-index: 2;
  height: 100%;
}

.promo__slideTitle {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.promo__slideText {
  font-size: 18px;
  line-height: 24px;
}

.promo__slideButton {
  position: absolute;
  left: 0;
  bottom: 0;
}

.prev,
.next {
  width: 22px;
  height: 40px;

  border: none;
  z-index: 2;
}

.prev {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
}

.prev::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 40px;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.next {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 24px;
  width: 24px;
  height: 40px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
}

.next::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 40px;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
}

.popularProducts__wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  grid-gap: 20px;
  margin-bottom: 70px;
}

.popularProducts__header,
.brands__header {
  background-color: var(--special-gray-pink);
  padding: 30px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.section__title {
  text-transform: uppercase;
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}

.catalog__wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(220px, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 20px;
}

.catalog__item {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  border: 1px solid var(--special-border-gray);
  position: relative;
  text-decoration: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__item-new::before {
  content: "";
  width: 70px;
  height: 70px;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../img/new.png");
}

.catalog__item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog__itemTitle {
  color: var(--basic-black);
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}

.catalog__itemImage {
  width: 100%;
  height: 180px;
  object-fit: contain;
  object-position: center center;
  background-color: var(--basic-white);
  opacity: 1;
}

.catalog__item:hover .catalog__itemImage {
  opacity: 0;
}

.catalog__itemPrice {
  padding: 10px 44px 10px 32px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  font-size: 17px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
}

.catalog__itemPrice-old {
  color: var(--special-old-price-gray);
  font-size: 17px;
  font-weight: 700;
  clip-path: none;
  text-decoration: line-through;
  background: none;
  padding: 10px 0;
}

.catalog__itemActions {
  background: var(--basic-white);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s ease;
}

.catalog__item:hover .catalog__itemActions {
  opacity: 1;
  z-index: 1;
}

.catalog__itemBookmark {
  width: 135px;
  height: 38px;
  background-color: var(--basic-white);
  color: var(--basic-dark-blue);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  font-weight: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.catalog__itemBookmark:hover, .catalog__itemBookmark:focus {
  border: 3px solid var(--basic-dark-blue);
}

.catalog__itemBookmark:active {
  opacity: 0.5;
}

.catalog__itemBuy {
  width: 135px;
  height: 38px;
  background-color: var(--basic-green);
  color: var(--basic-white);
  border: none;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  font-weight: 18px;
  text-transform: uppercase;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.catalog__itemBuy::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 25px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog__itemBuy:hover, .catalog__itemBuy:focus {
  background-color: var(--special-focus-green);
}

.catalog__itemBuy:active {
  background-color: var(--special-click-green);
}

.brands__wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  grid-gap: 20px;
  margin-bottom: 70px;
}

.brands__item {
  width: 100%;
  height: 145px;
}

.brands__itemImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.brands__item:hover, .brands__item:focus {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.brands__item:active {
  opacity: 0.5;
}

.services__wrapper {
  width: 100%;
  background-color: var(--basic-gray);
}

.services {
  background-color: var(--basic-gray);
  position: relative;
  padding: 52px 0;
}

.section__title-service {
  margin-bottom: 25px;
}

.services__row {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 54px;
}

.services__tabs {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  position: relative;
}

.services__tabs::after {
  content: "";
  position: absolute;
  top: -49px;
  right: 0px;
  width: 10px;
  height: 279px;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services__tab {
  cursor: pointer;
  min-width: 240px;
  padding: 15px 20px;
  border: none;
  font-size: 21px;
  font-weight: 700;
  text-align: left;
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
  transition: color .3s ease, background-color .3s ease;
}

.services__tab:hover {
  background-color: var(--basic-navy);
  color: var(--basic-white);
}

.services__tab:active {
  background-color: var(--basic-white);
  color: var(--basic-dark-blue);
}

.services__tab-active {
  color: var(--basic-dark-blue);
  background-color: var(--basic-white);
}

.services__tabContent {
  display: none;
}

.services__tabContent-active {
  display: flex;
}

.services__tabContentTitle {
  color: var(--basic-dark-blue);
  margin-bottom: 30px;
}

.services__text {
  font-size: 13px;
  line-height: 24px;
}

.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 100px;
  margin: 70px auto;
}

.about__title {
  margin-bottom: 24px;
}

.about__text {
  font-size: 13px;
  line-height: 24px;
}

.about__list {
  list-style: none;
  margin-bottom: 10px;
  margin-left: 45px;
}

.about__listItem {
  position: relative;
  margin-bottom: 12px;
}

.about__listItem::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -40px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.about__contacts .about__text {
  padding-bottom: 32px;
}

.about__map {
  margin-bottom: 25px;
  width: 100%;
}

.about__mapImage {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.feedback-contacts-button {
  width: 100%;
}

.footer__top {
  background-color: var(--basic-dark-blue);
  color: var(--basic-white);
  font-size: 18px;
  height: 193px;
}

.footer__logo {
  background-color: var(--basic-red);
  padding: 19px 40px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
}

.footer__navLink {
  color: var(--basic-white);
  text-decoration: none;
  padding: 0 29px;
}

.footer__navLink:hover,
.footer__navLink:hover {
  text-decoration: underline;
}

.footer__navLink:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer__categoriesLink {
  color: var(--special-extra-light-orange);
  text-decoration: none;
  padding: 0 29px;
}

.footer__categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__address {
  color: var(--special-footer-adress-gray);
  font-size: 18px;
  line-height: 24px;
  margin: 22px 0;
}

.footer__copyright {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
}

.footer__feedbackLink {
  color: var(--special-extra-light-orange);
  text-decoration: none;
}

.footer__bottom {
  padding: 34px 0;
  background-color: var(--basic-navy);
}

.footer__bottomRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__socialsLink {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #212A3A;
  border-radius: 50%;
  margin: 0 3px;
}

.footer__socialsLink:hover,
.footer__socialsLink:focus {
  background-color: var(--basic-red);
}

.footer__categoriesLink:hover {
  text-decoration: underline;
}

.footer__categoriesLink:active {
  text-decoration: none;
  color: var(--basic-red);
}

.footer__feedback {
  display: flex;
  justify-content: center;
}

.footer__feedbackTitle {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
}

.footer__feedbackItem {
  display: flex;
  flex-direction: column;
}

.footer__feedbackItem:last-child {
  margin-left: 55px;
}

.breadcrumbs {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px 0;
}

.breadcrumbs__link {
  text-decoration: none;
  color: var(--basic-black);
  position: relative;
  margin-right: 42px;
}

.breadcrumbs__link:last-child {
  margin-right: 0;
}

.breadcrumbs__link:after {
  content: "";
  position: absolute;
  top: 2px;
  right: -26px;
  width: 8px;
  height: 12px;
  background-image: url("../img/shape.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs__link-active:after {
  display: none;
}

.catalog__filter {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

.catalog {
  display: grid;
  grid-template-columns: minmax(220px, 1fr) minmax(700px, 3fr);
  grid-gap: 20px;
}

.catalog__filterTitle {
  background-color: var(--special-filter-gray);
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  padding: 10px 18px;
  margin-bottom: 14px;
}

.range__controls {
  position: relative;
  background-color: var(--special-filter-gray);
  border-radius: 5px;
  margin-bottom: 9px;
  padding: 29px 18px;
}

.range__scale {
  height: 2px;
  background-color: var(--special-range-scale);
}

.range__bar {
  height: 2px;
  background: #00ca74;
}

.range__toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range__toggle-min {
  left: 18px;
}

.range__toggle-max {
  right: 18px;
  left: unset;
}

.price__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price__controlsSeparator {
  margin: 0 10px;
}

.price__controlsInput {
  padding: 10px 24px;
  width: 100%;
  text-align: center;
  background-color: var(--special-filter-gray);
  border: none;
  border-radius: 5px;
}

.catalog__filterManufacturers {
  display: flex;
  flex-direction: column;
}

.catalog__filterManufacturersLabel {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 35px;
  margin-bottom: 20px;
}

.catalog__filterManufacturersLabel:last-child {
  margin-bottom: 25px;
}

.catalog__filterCheckbox {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.catalog__filterCheckbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog__filterCheckbox:checked::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog__filterCheckbox:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: -2px;
  width: 22px;
  height: 17px;
  background-image: url("../img/check-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog__filterPower {
  display: flex;
  flex-direction: column;
}

.catalog__filterPowerLabel {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 35px;
  margin-bottom: 22px;
}

.catalog__filterRadio {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.catalog__filterRadio::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 26px;
  height: 26px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog__filterRadio:checked::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 26px;
  height: 26px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog__filterPrice,
.catalog__filterManufacturers {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.catalog__filterPrice {
  padding-bottom: 23px;
}

.catalog__filterBlockTitle {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  padding-top: 14px;
  padding-bottom: 11px;
}

.catalog-filterButton {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var(--special-filter-border);
  background-color: var(--basic-white);
}

.sort__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 18px;
  background-color: var(--special-filter-gray);
  box-sizing: border-box;
  margin-bottom: 28px;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort__title {
  font-size: 13px;
  line-height: 18px;
}

.sort__options {
  display: flex;
  align-items: center;
}

.sort__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort__item {
  margin-right: 70px;
}

.sort__item:last-child {
  margin-right: 45px;
}

.sort__itemLink {
  color: rgba(0, 0, 0, .3);
  text-decoration: none;
}

.sort__item-current a {
  color: var(--basic-red);
}

.sort__itemLink:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sort__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sort__button:first-child {
  margin-right: 20px;
}

.catalog__text {
  background-color: var(--basic-gray);
  padding: 66px 0;
}

.catalog__text .section__title {
  margin-bottom: 25px;
}

.catalog__textDescription {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.catalog__title {
  background-color: var(--special-blue-gray);
  text-transform: uppercase;
  padding: 30px;
  margin: 0 auto 20px auto;
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.pagination {
  margin-top: 50px;
  margin-bottom: 100px;
}

.pagination__item {
  display: inline-block;
  font-size: 13px;
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid var(--special-filter-gray);
  border-radius: 2px;
  padding: 8px 15px;
  margin-right: 10px;
  text-align: center;
}

.pagination__item-next {
  padding: 8px 30px;
}

.pagination__item.pagination__item-current {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.pagination__item:hover {
  border: 1px solid var(--special-click-gray);
}

.pagination__item:active {
  border: 1px solid var(--basic-red);
}

.visuallyHidden {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: hidden;
}

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
  display: none;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal__feedback {
  width: 620px;
  height: 430px;
  background-color: var(--basic-white);
  border-top: 7px solid var(--basic-red);
}

.modal-error {
  animation: shake 0.6s;
}

.feedback__item {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  margin-bottom: 14px;
  max-width: 220px;
}

.feedback__item-textarea {
  max-width: 100%;
  width: 100%;
}

.feedback__item:first-child {
  margin-right: 20px;
}

.feedback__input {
  margin-top: 12px;
  padding: 7px 12px;
  border: 2px solid var(--special-click-gray);
  border-radius: 2px;
}

.feedback__input-textarea {
  min-height: 114px;;
  width: 100%;
  display: block;
  resize: none;
}

.feedback__form {
  padding: 38px 80px;
  display: flex;
  flex-wrap: wrap;
}

.modal__close {
  position: absolute;
  top: 21px;
  right: 11px;
  border: 0;
  width: 21px;
  height: 21px;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  padding: 0;
}

.feedback__button {
  width: 100%;
  padding: 37px 80px;
  background-color: var(--special-click-gray);
}

.feedback__buttonSubmit {
  width: 100%;
}

.feedback-form input::placeholder, .feedback-form textarea::placeholder {
  color: var(--special-old-price-gray);
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding-left: 12px;
}

.modal__map {
  max-width: 950px;
  max-height: 450px;
  background-color: var(--basic-white);
}

.modal__mapIframe {
  border: none;
}

.modal__addToCart {
  max-width: 620px;
  max-height: 280px;
  background-color: var(--basic-white);
}

.modal__addToCartTitle {
  font-family: "Cuprum", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding: 73px 100px;
  border-top: 7px solid var(--basic-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__addToCartTitle::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal__addToCartButtons {
  padding: 37px 90px;
  background-color: var(--special-modal-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__addToCartCheckout {
  margin-right: 10px;
}

.modal__addToCartContinue {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
